.container {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

.innerContainer {
  width: 1152px;
}

.formContainer {
  width: 562px;
}

.formLabel {
  font-size: 1.65em;
  font-weight: 500;
  color: #6ac045;
  margin-bottom: 36px;
  padding: 0;
}

.formFieldContainer {
  margin-bottom: 24px;
}

.formInput {
  width: 100%;
  margin-top: 6px;
}

.errorMessageContainer {
  display: flex;
  justify-content: right;
}

.formFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}

.formFooterLinks {
  display: flex;
  flex-direction: column;
  gap: 4.2px;
}

.formFooterLink {
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #6ac045;
}

.formFooterLink:hover {
  transition: 0.5s;
  color: #85dd72;
}

@media (max-width: 1200px) {
  .innerContainer {
    padding-left: 126px;
  }
  .formContainer {
    width: 460px;
  }
}

@media (max-width: 1020px) {
  .innerContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 0;
  }
  .formContainer {
    width: 90%;
  }
}

@media (max-width: 760px) {
  .formLabel {
    text-align: center;
  }
}
