.button {
  background-color: #6ac045;
  height: 38px;
  font-size: 1em;
  font-weight: 600;
  color: #f6fdfe;
  border: none;
  border-radius: 4px;
  padding: 8px;
}

.button:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: #55a334;
}

.infoColor {
  background-color: #0aad9e;
}

.infoColor:hover {
  background-color: #089688;
}
