.modalAlbumSuffix {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #919191;
}

.modalAlbumLink {
  text-decoration: none;
}

.modalAlbumContainer {
  display: flex;
  column-gap: 12px;
  padding: 10px;
}

.modalAlbumContainer:hover {
  background-color: #282a2d;
}

.modalAlbumImage {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  border: 3px solid white;
}

.modalAlbumInfoContainer {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.modalAlbumName {
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-bottom: 6px;
  cursor: pointer;
}

.modalAlbumBottomInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.modalAlbumYear {
  font-size: 15px;
  color: #919191;
}

.modalAlbumRatingContainer {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.modalAlbumRatingIcon {
  font-size: 18px;
  color: #6ac045;
}

.modalAlbumRating {
  font-size: 16px;
  color: #fff;
}