.background {
  height: calc(100vh - 120px);
  background: linear-gradient(to bottom, transparent, #1d1d1d 85%, #1d1d1d);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0 120px;
  background: transparent;
}

.albumWebContainer {
  width: 1100px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.albumWebReviewContainer {
  width: 1100px;
  display: grid;
  grid-template-columns: 4fr 5fr;
  gap: 40px;
  margin-top: 52px;
}

@media (max-width: 1200px) {
  .albumWebContainer {
    width: 920px;
    display: grid;
    grid-template-columns: 3fr 5fr 3fr;
  }

  .albumWebReviewContainer {
    width: 920px;
  }
}

@media (max-width: 1020px) {
  .albumWebContainer {
    width: 720px;
    display: grid;
    grid-template-columns: 2fr 5fr;
  }

  .albumWebReviewContainer {
    width: 720px;
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
  }
}

@media (max-width: 760px) {
  .container {
    padding-bottom: 40px;
  }

  .albumWebContainer {
    width: 90%;
    display: flex;
  }

  .albumWebReviewContainer {
    width: 90%;
  }
}
