.headerFix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1d1d1d;
  height: var(--header-height-web);
  border-bottom: 1px solid #2d3030;
  box-sizing: border-box;
  padding-top: 1px;
  width: 100%;
}

.leftPart {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 7vw;
  gap: 30px;
  min-width: 45%;
  box-sizing: border-box;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 200px;
  height: auto;
}

.description {
  color: #919191;
  font-weight: 400;
  font-size: 1.1em;
}

.rightPart {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 7vw;
  width: 100%;
  gap: 20px;
}

.navContainerWeb {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.navInputContainer {
  position: relative;
  padding: 4px 4px 4px 6px;
  display: flex;
  align-items: center;
  border: 2px solid #353535;
  border-radius: 24px;
  width: 234px;
  height: 24px;
}

.navInputIcon {
  font-size: 14px;
  color: #829191;
  margin: 0 4px;
}

.navInput {
  background: none;
  border: none;
  color: #829191;
  font-weight: bold;
}

.navInputLoading {
  position: absolute;
  right: 2px;
  top: 8px;
  color: #55a334;
}

.navInput:focus {
  outline: none;
}

.navInput:focus::placeholder {
  color: transparent;
}

.navLink {
  font-size: 0.9em;
  text-decoration: none;
  margin: 0 3px;
}

.navLinkPrimary {
  color: #f1ffff;
}

.navLinkPrimary:hover {
  transition: 0.5s;
  color: #829191;
}

.navLinkSecondary {
  color: #829191;
}

.navLinkSecondary:hover {
  transition: 0.5s;
  color: #f1ffff;
}

.navLinkSelected {
  color: #6ac045;
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: 2px;
}

.navContainerMobile {
  display: none;
}

#searchIcon {
  font-size: 38px !important;
}

#artistIcon {
  font-size: 36px !important;
  margin-right: 2px;
}

#albumIcon {
  font-size: 34px !important;
  margin-right: -4px;
}

#songIcon {
  font-size: 36px !important;
  margin-right: -8px;
}

#userIcon {
  font-size: 40px !important;
}

.searchResults {
  position: absolute;
  top: 45px;
  left: -2px;
  width: calc(100% + 4px);
  background-color: #1d1d1d;
  border: 1px solid #2d3030;
  overflow: hidden;
}

.searchResultLink {
  text-decoration: none;
}

.searchResultContainer {
  display: flex;
  column-gap: 12px;
  padding: 10px;
  border-bottom: 1px solid #2d3030;
  width: 100%;
}

.searchResultContainer:hover {
  background-color: #333;
}

.searchResultImage {
  width: 44px;
}

.searchResultInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: calc(100% - 56px);
}

.searchResultName {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 22px);
}

.searchResultBottomInfoContainer {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 22px);
  height: calc(100% - 20px);
}

.searchResultYear {
  font-size: 12px;
  font-weight: 700;
  color: #919191;
}

.searchResultTopic {
  display: flex;
  align-items: flex-end;
  font-size: 12px;
  color: #919191;
}

.searchResultErrorMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchResultNotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  font-size: 16px;
}

@media (max-width: 1550px) {
  .leftPart {
    min-width: 24%;
  }
  .description {
    display: none;
  }
}

@media (max-width: 1200px) {
  .leftPart {
    padding-left: 4vw;
  }
  .rightPart {
    padding-right: 4vw;
  }
}

@media (max-width: 1020px) {
  .leftPart {
    min-width: 40%;
    padding-left: 7vw;
  }
  .rightPart {
    padding-right: 7vw;
  }
  .navContainerWeb {
    display: none;
  }
  .navInputContainer {
    display: none;
  }
  .navContainerMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -2px;
  }
}

@media (max-width: 760px) {
  .headerContainer {
    justify-content: space-between;
    height: var(--header-height-mobile);
    padding: 0;
  }
  .leftPart {
    min-width: 160px;
    padding-left: 10px;
  }
  .rightPart {
    padding-right: 10px;
  }
  .logo {
    width: 150px;
  }
  #searchIcon {
    font-size: 30px !important;
  }
  #artistIcon {
    font-size: 27px !important;
  }
  #albumIcon {
    font-size: 26px !important;
    margin-right: -2px;
  }
  #songIcon {
    font-size: 26px !important;
    margin-right: -6px;
  }
  #userIcon {
    font-size: 30px !important;
  }
}
