.contentContainer {
  padding: var(--header-height-web) 0 var(--footer-height-web);
  flex-grow: 1;
}

@media (max-width: 760px) {
  .contentContainer {
    padding: var(--header-height-mobile) 0 var(--footer-height-mobile);
    min-height: calc(100vh - var(--header-height-mobile));
    box-sizing: border-box;
  }
}
