.modalContainer,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 998;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1f1f1f;
  padding: 10px 16px;
  border-radius: 4px;
  width: 520px;
  z-index: 999;
  cursor: auto;
}

.modalHeaderWeb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0 8px;
  padding: 0 8px 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.modalHeaderMobile {
  display: none;
}

.modalTitle {
  margin: 0;
  font-size: 19px;
  font-weight: 500;
}

.rateModalCloseBtnContainerWeb {
  position: absolute;
  top: -44px;
  right: 0;
}

.rateModalCloseBtnWeb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.rateModalCloseBtnWeb:hover {
  background-color: rgba(255, 255, 2555, 0.1);
}

.modalBodyContainer {
  min-height: 120px;
  max-height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.modalBodyCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalFooter {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 18px 0 8px;
}

@media (max-width: 760px) {
  .modalContent {
    width: 86%;
  }

  .modalHeaderWeb {
    display: none;
  }

  .modalBodyContainer {
    padding-top: 8px;
  }

  .modalHeaderMobile {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 8px;
    padding: 0 0 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .rateModalCloseBtnContainerWeb {
    display: none;
  }

  .modalHeaderMobile > .modalHeaderItemMobile {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .modalHeaderMobile > .modalHeaderItemMobile:nth-child(1) {
    justify-content: flex-start;
  }

  .modalHeaderMobile > .modalHeaderItemMobile:nth-child(2) {
    justify-content: center;
  }

  .modalHeaderMobile > .modalHeaderItemMobile:nth-child(3) {
    justify-content: flex-end;
  }

  .modalTitle {
    font-size: 18px;
  }

  .rateModalCloseIconMobile {
    font-size: 18px;
    padding-bottom: 2px;
    color: #919191;
  }
}
