.modalContainer,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 998;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1f1f1f;
  padding: 12px 16px;
  border-radius: 4px;
  width: 520px;
  z-index: 999;
  cursor: auto;
}

.modalTitleContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 8px 0 8px;
  padding: 0 8px 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.modalTitle {
  margin: 0;
  font-size: 19px;
  font-weight: 500;
}

.modalTitleSuffix {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #919191;
}

.rateModalCloseBtnContainer {
  position: absolute;
  top: -44px;
  right: 0;
}

.rateModalCloseBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.rateModalCloseBtn:hover {
  background-color: rgba(255, 255, 2555, 0.1);
}

.modalBodyContainer {
  min-height: 120px;
  max-height: 50vh;
  overflow: auto;
}

.modalBodyCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 760px) {
  .modalContent {
    width: 86%;
  }
}
