.songsSuffix {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #919191;
}

.albumWithSongsContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.albumContainer {
  display: flex;
  column-gap: 12px;
  padding: 10px;
}

.albumImage {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  border: 3px solid white;
}

.albumInfoContainer {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.albumName {
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-bottom: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.albumName:hover {
  color: #bebebe;
}

.albumBottomInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.albumYear {
  font-size: 15px;
  color: #919191;
}

.songLink {
  text-decoration: none;
}

.songContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
}

.songContainer:hover {
  background-color: #282a2d;
}

.songNameContainer {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.songIndex {
  width: 20px;
  font-size: 16px;
  font-weight: 500;
  text-align: end;
  color: #919191;
}

.songName {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.songRatingContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 8px;
  padding-right: 12px;
}

.songRating {
  font-size: 16px;
  color: #fff;
}

.songRatingIcon {
  font-size: 18px;
  color: #6ac045;
}