.footerFix {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171717;
  height: var(--footer-height-web);
  gap: 8px;
  border-top: 1px solid #2d3030;
  padding-bottom: 1px;
}

.copyrightContainer {
  color: #f1ffff;
}

.separator {
  color: #f1ffff;
}

.footerLink {
  font-size: 0.9em;
  text-decoration: none;
  color: #829191;
}

.footerLink:hover {
  transition: 0.5s;
  color: #f1ffff;
}

@media (max-width: 760px) {
  .footerContainer {
    /* height: 38px; */
    display: none;
  }
}
