@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Arimo', Arial, Helvetica, 'Lucida Grande', sans-serif;
  background-color: #1d1d1d;
  color: #f1ffff;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #919191;
  border-radius: 4px;
}
